# .cfg file created by rockbox 68f511984e-250114 - http://www.rockbox.org
sbs: /.rockbox/wps/Chroma.sbs
wps: /.rockbox/wps/Chroma.wps
ui viewport: -

foreground color: 6b716b
background color: 003073
