# .cfg file created by rockbox 68f511984e-250114 - http://www.rockbox.org

statusbar: top
scrollbar: right
volume display: graphic
battery display: graphic
foreground color: 949694
background color: 003073
wps: /.rockbox/wps/Chroma.wps
sbs: /.rockbox/wps/Chroma.sbs
