# .cfg file created by rockbox 33c0c9efae-241216 - http://www.rockbox.org

#-------------------------------------------------------------------   
sbs: /.rockbox/wps/Chroma.sbs
wps: /.rockbox/wps/Chroma.wps

scrollbar: Right
statusbar: top
volume display: graphic
battery display: numeric
#
#-- Experimental Custom Quickscreen --#
# Remove the # from the following to activate Custom Quickscreen.
qs top: brightness
qs bottom: brightness
qs left: shuffle
qs right: repeat
#
scroll speed: 12
scroll delay: 1500
scroll step: 1

#root menu order: wps, bookmarks, database, files, playlists, plugins, settings, shortcuts,
foreground color: f7f7f7
background color: 840084
